<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4PqTEJaskIHbP4PCVy8VW7jc_aoSLxHI</string>
	<key>GCM_SENDER_ID</key>
	<string>776823113171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.study.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-001-282bd</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-001-282bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776823113171:ios:4a8993007c258bd3709b26</string>
</dict>
</plist>